.search-input {
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  width: 100%;
  height: 48px;
  padding: 0 65px 0 15px;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  outline: 0;
}
