.song-card {
  width: 100%;
  margin-bottom: 15px;
}

.song-card a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.about-song {
  display: flex;
  align-items: center;
}

.about-song img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 10px;
}

.about-song p {
  margin: 0;
  line-height: 22px;
  font-weight: normal;
  color: #000;
}

.song-title {
  font-size: 16px;
}

.song-artist {
  font-size: 14px;
}

.song-artist span {
  color: #828282;
  padding-right: 5px;
}

.song-duration {
  font-size: 14px;
  line-height: 22px;
  color: #4F4F4F;
}
