.preloader {
  font-weight: normal;
  font-size: 36px;
  line-height: 22px;
  text-align: center;
  color: #828282;
  margin: 0;
  padding: 60px 0;
}

.songs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 90px;
}

.songs-list {
  width: 100%;
  max-width: 500px;
  border-bottom: 1px solid #BDBDBD;
}

.songs-list > div:last-child {
  margin-bottom: 20px;
}

.songs-duration {
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #BDBDBD;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 500px;
  padding: 7px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
}

.buttons button {
  cursor: pointer;
}
