.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  padding: 0 15px;
  background: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.search-container button {
  position: absolute;
  right: 1px;
  top: 1px;
  height: 46px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 0;
}
